server:
  port: 8888
spring:
  application:
    name: ead-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/FredeMT/ead-config-server-repo.git
          default-label: main
          username: FredeMT
          password: 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

ead:
  configServer:
    username: configserver
    password: 'ead123cs'
  serviceRegistry:
    username: serviceregistry
    password: 'ead123sr'

eureka:
  client:
    service-url:
      defaultZone: 'http://${ead.serviceRegistry.username}:${ead.serviceRegistry.password}@localhost:8761/eureka'
  instance:
    hostname: localhost
