server:
  port: 8888
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/FredeMT/ead-config-server-repo.git
          default-label: main
          username: FredeMT
          password: [* Enter GitHub personal access token *]

ead:
  configServer:
    username: configserver
    password: 'ead123cs'
  serviceRegistry:
    username: serviceregistry
    password: 'ead123sr'

eureka:
  client:
    service-url:
      defaultZone: 'http://${ead.serviceRegistry.username}:${ead.serviceRegistry.password}@localhost:8761/eureka'
  instance:
    hostname: localhost

encrypt:
  key: ZPEyFMqBToV5piQXnFFToc0LemRxUXjKkaYNyuo0vlmrDVHY6s4Oim6ZDFV1wOLV